footer {
    background: #f8f9fa;
    color: black;
    padding: 30px;
  }

  h3 {
    color: #32cd32;
    font-size: 28px;
    text-align: center;
  }

  h3:hover {
    color: #7cfc00;
  }

  li {
    padding: 5px;
  }

  .map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }